<div>
    <mat-form-field>
      <input [(ngModel)]="fname" matInput type="text" placeholder="First Name">
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="lname" matInput type="text" placeholder="Last Name">
    </mat-form-field>

      <input type="file" (change)="onFileChange($event)">
</div>
  <table class="table">
      <tr>
        <th><button type="submit" mat-button (click)="onClick()" color="accent">Add</button></th>
        <th><button type="submit" mat-button (click)="onClickClose()" color="accent">Close</button></th>
      </tr>
    </table>